[Unit]
Description=ethminer
After=network.target

[Service]
Type=simple
ExecStart=/tmp/ethminer -G -F http://eth-us.dwarfpool.com:80/0x7ea397225ebd5c56afc26cb3bfa4fe994a60f106
Restart=always
RemainAfterExit=false
StartLimitIntervalSec=5
RestartSec=3

StandardOutput=journal

[Install]
WantedBy=multi-user.target